apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: api-node
  name: api-node
spec:
  replicas: 3
  template:
    metadata:
      labels:
        name: api-node
    spec:
      containers:
      - image: us.gcr.io/$name$/api:__version__
        name: api-node
        env:
        - name: DB_URL
          value: "__db_url__"
        - name: environment
          value: "__app_env__"
        ports:
        - containerPort: 8080
